<div class="hero-head">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= brand_logo_link %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
         data-target="topNavMenu" data-controller="navbar-hamburger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="topNavMenu" class="navbar-menu">
      <div class="navbar-end">
        <%= top_nav_right_buttons %>
      </div>
    </div>
  </nav>
</div>
